body {
  background-color: #808080;
  color: #fff;
}

h1 {
  font-size: 30px;
  border-bottom: 3px solid #fff;
  text-align: center;
  margin-top: 100px;
}

form {
  text-align: center;
}

p {
  text-align: center;
  margin: 50px 0;
}

.btn {
  
}