body {
    margin: 0px;
    width: 1000px;
}

p{
  text-align: right;
  justify-content: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
    width: 1000px;
    height: 120px;
    text-align: center;

}

.header-left {
  background-color: #add8e6;
  width: 200px;
  height: 120px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 2000px;
  height: 150px;
}

.header-right {
  float: right;
  width: 800px;
}

.right-upper {
  background-color: #87ceeb;
  width: 800px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-lower {
  background-color: #00ffff;
  width: 800px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.table-title {
  background-color: #87ceed;
}

td {
  background-color: #e0ffff;
}

footer {
  background-color: #00ced1;
  height: 50px;
  width: 1000px;

}