@media screen and (max-width: 479px) {
  .wrapper {
    width: 200px;
  }

  .header {
    height: 200px;
    padding-top: 20px;
  }

  .header-list {
    width: 60px;
    height: 160px;
    float: none;
    margin: 0px 70px;
    flex-wrap: wrap;
  }

  .contents {
    height: 300px;
  }

  .contents-left {
    float: none;
    width: 200px;
    height: 100px;
  }

  .contents-right {
    float: none;
    width: 200px;
    height: 200px;
    padding: 20px 30px;
  }
}
